{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
  <!--<li>
    <form method='POST' action="{{ request.get_full_path }}">
        {% csrf_token %}
        <input type='hidden' name='action' value='export'>
        <input type="submit" name='prepair_comment' value="Export3a">
    </form>
  </li>
  <li>
        <a href="{{ request.get_full_path }}&export2">Export2</a>
  </li>
  -->

  <li>
        <a href="{% static "MyShul Profiles.docm" %}">Download Report Doc</a>
  </li>

  {{ block.super }}
{% endblock %}